<% action_url = (action == :create ? tracks_url : track_url(track) ) %>
<% method = (action == :create ? "POST" : "PATCH" ) %>
<% submit_value = (action == :create ? "Create" : "Update" ) %>
<% current_album_id = (action == :create ? params[:album_id].to_i : track.album_id ) %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= render 'layouts/auth_input' %>
  
  <label>
    Name of the album:
    <select name="track[album_id]">
    <% albums.each do |album| %>
      <option value="<%= album.id %>"
              <%= 'selected' if current_album_id == album.id %>>
              <%= album.name %>
      </option>
    <% end %>
    </select>
  </label>
  <br>
  <br>
  
  <label>
    Name of the track:
    <input type="text" name="track[name]" value="<%= track.name %>">
  </label>
  <br>
  <br>
  
  <label>
    Bonus or regular track:
    <% Track::BONUSES.each do |bonus| %>
      <input type="radio"
             name="track[bonus]" 
             value="<%= bonus %>"
             <%= "checked" if bonus == track.bonus %>>
             <%= bonus %>
    <% end %>
  </label>
  <br>
  <br>
  
  <label>
    Lyrics of the track:
    <textarea name="track[lyrics]">
      <%= track.lyrics %>
    </textarea>
  </label>
  <br>
  <br>
  
  <input type="submit" value="<%= submit_value %>">
</form>