<% if current_user %>
<p>Hello, <%= current_user.username %></p>
<%= button_to "log out", session_url, method: :delete %>
<% else %>
<%= link_to "log in", new_session_url %>
<%= link_to "sign up", new_user_url %>
<% end %>

<br>
<%= link_to "Back to Home", user_url %>