<h1>Welcome</h1>

<h3>My Goals</h3>
<ul>
<% @goals.each do |goal|%>
<li>  <%= goal.goal %>
  <% if current_user == @user %>
    <%= link_to "Edit goal", edit_user_goal_url(@user, goal) %>
    <%= button_to "Delete goal", goal_url(goal), method: :delete %> 
  <% end %>
</li>
<% end %>

</ul>

<h4>Comments</h4>
<ul>
<% @comments.each do |comment| %>
  <li><%= comment.body %></li>
<% end %>  
</ul>

<h4>Say Hi</h4>

<form action="<%= user_comments_url(@user)%>" method="POST">
  <%= auth_input %>
  
  <label>Comment
    <textarea name="comment[body]"></textarea>
  </label>
  
  <input type="submit" value="Add Comment">
</form>